<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<meta charset="UTF-8">
	<title>Chating</title>
	<style>
		*{
			margin:0;
			padding:0;
		}
		.container{
			width: 500px;
			margin: 0 auto;
			padding: 25px
		}
		.container h1{
			text-align: left;
			padding: 5px 5px 5px 15px;
			color: #FFBB00;
			border-left: 3px solid #FFBB00;
			margin-bottom: 20px;
		}
		.chating{
			background-color: #fff;
			width: 500px;
			height: 500px;
			overflow: auto;
		}
		.chating p{
			color: #000;
			text-align: left;
		}
		input{
			width: 330px;
			height: 25px;
		}
		#inputAnswer{
			display: none;
		}
	</style>
</head>

<script th:inline="javascript">
	var ws;

	var target="";

	function randomUser(){
		var userList = [];
		userList = [[${#logineduser}]];
		if(userList<1){
			return false;
		}else if(userList[Math.floor(Math.random()*userList.length)]==[[${#authentication.name}]]){
			randomUser();
		}else {
			return userList[Math.floor(Math.random()*userList.length)];
		}
		
	}

	function wsOpen(){
		ws = new WebSocket("ws://" + location.host + "/gaming");
		wsEvt();
	}
		
	function wsEvt() {
		ws.onopen = function(data){
			console.log('연결 생성');
			register();
			//소켓이 열리면 초기화 세팅하기
		}
		
		ws.onmessage = function(data) {
			var msg = data.data;
			if(msg != null && msg.trim() != ''){
				console.log(msg.slice(msg.length-7));
				if(msg.slice(msg.length-2)=="un"){
					target = msg.slice(0,msg.length-2);
					msg = "vs "+target;
				}
				if(msg=="You Win!"){
					$("#chating").append("<p style='text-align:center;'>" + msg + "</p>");
					gameOver();
				}else{
				$("#chating").append("<p style='text-align:right;'>" + msg + "</p>");
					if(msg.slice(msg.length-7)=="Win</p>"){
						lose();
						$("#chating").append("<p style='text-align:center;'>You Lose!</p>");
						gameOver();
					}
				}
			}
		}
	}

	function gameOver(){
		$("#chating").append("<p>3초뒤 자동 종료됩니다.</p>");
		$("#chating").append("<p>3....</p>");
		setTimeout(function() {
			$("#chating").append("<p>2....</p>");
		}, 1000);
		setTimeout(function() {	
			$("#chating").append("<p>1....</p>");
		}, 2000);
		setTimeout(function() {
			window.location.href = '/'
		}, 3000);
	}

	function inputNumber(){
		var userNumber = $("#userNumber").val().trim();
        var numberList = userNumber.split("");
        if((numberList.length<3 || numberList[0]==numberList[1]||numberList[1]==numberList[2]||numberList[2]==numberList[0])){
            userNumber=null;
            alert("서로 다른 3자리 숫자를 입력해주세요.");
			$("#userNumber").focus();
        } else {
			numberRegister();
			$("#inputNumber").hide();
			$("#inputAnswer").show();
		}
	}

	function register() { //메시지 수신을 위한 서버에 id 등록하기
		console.log("register");
		var msg = {
			type : "register", //메시지 구분하는 구분자 - 상대방 아이디와 메시지 포함해서 보냄
			userid : [[${#authentication.name}]]
		};
		ws.send(JSON.stringify(msg));
	}

	function numberRegister() { //메시지 수신을 위한 서버에 id 등록하기
		console.log("numberRegister");
		var msg = {
			type : "numberRegister", //메시지 구분하는 구분자 - 상대방 아이디와 메시지 포함해서 보냄
			userid : [[${#authentication.name}]],
			userNumber : $("#userNumber").val()
		};
		ws.send(JSON.stringify(msg));
	}

	function lose() { //메시지 수신을 위한 서버에 id 등록하기
		console.log("lose");
		var msg = {
			type : "lose", //메시지 구분하는 구분자 - 상대방 아이디와 메시지 포함해서 보냄
			userid : [[${#authentication.name}]],
			target : target,
			message : "You Win!"
		};
		ws.send(JSON.stringify(msg));
	}

	function sendAnswer() {
		let num = $("#answering").val().trim();
        var numberList = num.split("");
        if(numberList.length<3 || numberList[0]==numberList[1]||numberList[1]==numberList[2]||numberList[2]==numberList[0]){
            alert("서로 다른 3자리 숫자를 입력해주세요.");
			$("#userNumber").focus();
		}else{
			console.log("sendAnswer");
			var msg = {
				type : "answer", //메시지 구분하는 구분자 - 상대방 아이디와 메시지 포함해서 보냄
				userid : [[${#authentication.name}]],
				target : target, //userid
				message : $("#answering").val()
			};
			ws.send(JSON.stringify(msg));
			$("#chating").append("<p style='text-align: right;'>"+"나 : " + $("#answering").val() + "</p>");
			$('#answering').val("");
		}
	};

	$(function(){
		wsOpen();
	});

</script>
<body>
	<div id="container" class="container">
		<h1>Number Baseball Web Game</h1>
		<div id="chating" class="chating">
		</div>
		
		<div id="inputNumber">
			<table class="inputTable">
				<tr>
					<th>상대가 맞출 숫자를 입력하십시오.</th>
					<th><input type="text" oninput="this.value = this.value.replace(/[^1-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="3" id="userNumber"></th>
					<th><button onclick="inputNumber()" id="startBtn">정답 등록</button></th>
				</tr>
			</table>
		</div>
		<div id="inputAnswer">
			<table class="inputTable">
				<tr>
					<th><input type="text" 
						oninput="this.value = this.value.replace(/[^1-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="3" id="answering" placeholder="답을 유추해주세요." ></th>
					<th><button onclick="sendAnswer()" class="sendBtn">보내기</button></th>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>