<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<meta charset="UTF-8">
	<title>Number Baseball Web Game</title>
	<style>
		*{
			margin:0;
			padding:0;
		}
		.container{
			width: 500px;
			margin: 0 auto;
			padding: 25px
		}
		.container h1{
			text-align: left;
			padding: 5px 5px 5px 15px;
			color: #000;
			margin-bottom: 20px;
		}
		.chatting{
			background-color: #fff;
			width: 500px;
			height: 500px;
			overflow: auto;
		}
		.chatting p{
			color: #000;
			text-align: left;
		}
		input{
			width: 330px;
			height: 25px;
		}
		#inputAnswer{
			display: none;
		}
	</style>
</head>

<script th:inline="javascript">
	var ws;
	var turn = 0;
	var target="";

	function wsOpen(){
		ws = new WebSocket("ws://" + location.host + "/gaming");
		wsEvt();
	}
		
	function wsEvt() {
		ws.onopen = function(data){
			console.log('연결 생성');
			register();
			//소켓이 열리면 초기화 세팅하기
		}
		//메세지 수신 시 작동
		ws.onmessage = function(data) {
			var msg = data.data;
			if(msg != null && msg.trim() != ''){
				console.log(msg.slice(msg.length-7));
				//message 내용 뒤에 un이 붙어있을경우 user와 매칭성공 
				if(msg.slice(msg.length-2)=="un"){
					target = msg.slice(0,msg.length-2);
					msg = "vs "+target;
				//message 내용이 You Win이면 승리
				}
				if(msg=="You Win!"){
					$("#chatting").append("<p style='text-align:center;'>" + msg + "</p>");
					gameOver();
				//Win이 아니면 일반 메세지 출력
				}else{
					$("#chatting").append("<p style='text-align:right;'>" + msg + "</p>");
					if(turn>0){
						if(turn%2==1){
							$("#inputAnswer").hide();
							turn++;
						}else{
							$("#inputAnswer").show();
						}
					}
					if(msg.slice(msg.length-7)=="Win</p>"){
						win();
						$("#chatting").append("<p style='text-align:center;'>You Lose!</p>");
						gameOver();
					}
				}
			}
		}
	}

	//게임 종료
	function gameOver(){
		$("#chatting").append("<p>3초 뒤 자동 종료됩니다.</p>");
		setTimeout(function() {
			window.location.href = '/'
		}, 3000);
	}

	//상대가 맞춰야할 숫자 등록
	function inputNumber(){
		var userNumber = $("#userNumber").val().trim();
        var numberList = userNumber.split("");
        if((numberList.length<3 || numberList[0]==numberList[1]||numberList[1]==numberList[2]||numberList[2]==numberList[0])){
            userNumber=null;
            alert("서로 다른 3자리 숫자를 입력해주세요.");
			$("#userNumber").focus();
        } else {
			numberRegister();
			$("#inputNumber").hide();
			$("#inputAnswer").show();
		}
	}

	 //메시지 수신을 위한 서버에 id 등록하기
	function register() {
		console.log("register");
		var msg = {
			type : "register",
			userid : [[${#authentication.name}]]
		};
		ws.send(JSON.stringify(msg));
	}

	//입력한 숫자를 서버에 등록
	function numberRegister() { 
		console.log("numberRegister");
		var msg = {
			type : "numberRegister",
			userid : [[${#authentication.name}]],
			userNumber : $("#userNumber").val()
		};
		ws.send(JSON.stringify(msg));
	}

	//승리. 상대에게는 lose 메세지 전송
	function win() {
		console.log("win");
		var msg = {
			type : "win", 
			userid : [[${#authentication.name}]],
			target : target,
			message : "You Win!"
		};
		ws.send(JSON.stringify(msg));
	}

	//상대방 숫자 예측
	function sendAnswer() {
		let num = $("#answering").val().trim();
        var numberList = num.split("");
        if(numberList.length<3 || numberList[0]==numberList[1]||numberList[1]==numberList[2]||numberList[2]==numberList[0]){
            alert("서로 다른 3자리 숫자를 입력해주세요.");
			$("#userNumber").focus();
		}else{
			console.log("sendAnswer");
			var msg = {
				type : "answer",
				userid : [[${#authentication.name}]],
				target : target, //userid
				message : $("#answering").val()
			};
			ws.send(JSON.stringify(msg));
			$("#chatting").append("<p style='text-align: right;'>"+"나 : " + $("#answering").val() + "</p>");
			$('#answering').val("");
			turn = turn+1;
		}
	};

	$(function(){
		wsOpen();
	});

</script>
<body>
	<div id="container" class="container">
		<h1>Number Baseball Web Game</h1>
		<div id="chatting" class="chatting">
		</div>
		
		<div id="inputNumber">
			<table class="inputTable">
				<tr>
					<th>상대가 맞출 숫자를 입력하십시오.</th>
				</tr>
				<tr>
					<th><input type="text" oninput="this.value = this.value.replace(/[^1-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="3" id="userNumber"></th>
					<th><button onclick="inputNumber()" id="startBtn">정답 등록</button></th>
				</tr>
			</table>
		</div>
		<div id="inputAnswer">
			<table class="inputTable">
				<tr>
					<th><input type="text" 
						oninput="this.value = this.value.replace(/[^1-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="3" id="answering" placeholder="답을 유추해주세요." ></th>
					<th><button onclick="sendAnswer()" class="sendBtn">보내기</button></th>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>