<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhs.numberbaseball.dao.UserDAO">
    <select id = "getUser" parameterType="String" resultType = "UserVO">
        SELECT * 
        FROM public.user 
        WHERE id=#{id}
    </select>
    <insert id = "insertUser" parameterType="UserVO">
        INSERT INTO public.user(id, username, password, role) 
        VALUES(#{id}, #{username}, #{password}, #{role})
    </insert>
</mapper>